<div class="container">
  <a routerLink="/employees/add" *ngIf="isAdmin | async">[Add]</a>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Primary Address</th>
      <th>Primary Contact Info</th>
      <th>Age</th>
      <th># of Years in the Company</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of employees | async">
      <td>{{item.firstname}} {{item.lastname}}</td>
      <td>
        <span *ngFor="let address of item.addressInfo">
          <span *ngIf='address.isPrimary'>{{address.street}}, {{address.city}}</span>
        </span>
      </td>
      <td>
        <span *ngFor="let contact of item.contactInfo">
          <span *ngIf='contact.isPrimary'>{{contact.value}}</span>
        </span>
      </td>
      <td>{{getAge(item.birthday)}}</td>
      <td>{{getTenure(item.dateHired)}}</td>
      <td *ngIf="isAdmin | async"><a routerLink='/employees/show/{{item.id}}'>[Show]</a> | <a routerLink="/employees/edit/{{item.id}}">[Edit]</a> | <a (click)="deleteEmployee(item.id)" style="cursor: pointer">[Delete]</a></td>
      <td *ngIf="!(isAdmin | async)"><a routerLink='/employees/show/{{item.id}}'>[Show]</a></td>
    </tr>
  </table>
</div>