/* You can add global styles to this file, and also import other style files */
ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

button, input {
  padding: 5px;
  margin: 5px !important;
}

.container {
  margin: 250px auto;
}